<!DOCTYPE html>
<html>
<body>
  <h3>Due Date Approaching</h3>
  <p>Issue <strong>{{issueKey}}</strong>: {{issueTitle}} is due soon.</p>
  {{#if actionUrl}}<p><a href="{{actionUrl}}">View Issue</a></p>{{/if}}
  <hr>
  <small>You received this email because of your notification settings.</small>
</body>
</html>
