<!DOCTYPE html>
<html>
<body>
  <h3>Status Changed</h3>
  <p><strong>{{actorName}}</strong> changed the status of <strong>{{issueKey}}</strong>: {{issueTitle}}</p>
  {{#if actionUrl}}<p><a href="{{actionUrl}}">View Issue</a></p>{{/if}}
  <hr>
  <small>You received this email because of your notification settings.</small>
</body>
</html>
