node_modules
**/node_modules
**/dist
**/.turbo
**/.next

.git
.github
.vscode
.idea

**/.env
**/.env.*
!**/.env.example

**/coverage
**/*.test.ts
**/*.spec.ts
**/test/
**/__tests__/

*.md
!pnpm-workspace.yaml
LICENSE
.prettierrc
.eslintrc*
turbo.json
